@import './utils/variables';
@import './components/base';
@import './components/header';
@import './components/page-logo';
@import './components/site-nav';
@import './components/contacts';
@import './components/hero';
@import './components/backdrop';
@import './components/modal';
@import './components/advantage';
@import './components/job';
@import './components/team';
@import './components/clients';
@import './components/footer';
@import './components/footer-logo';
@import './components/address';
@import './components/folov';
@import './components/send';
