.advantage__list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
        margin: 0;
    }
}

.advantage__item {  
    max-width: 450px;
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0;
    }
    @media screen and (min-width: 768px) {
        max-width: 354px;
        margin: 15px;
    } 
    @media screen and (min-width: 1200px) {
        max-width: 270px;
        margin: 0;
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
    }
}
.advant {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-color-bg);
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    
}

.advantage__title {
    
    margin-bottom: 10px;
    color: var(--secondary-color-text);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

.advantage__text {
    
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}