body {
  background-color: var(--main-color-bg);
  color: var(--main-color-text);
  font-family: 'Roboto', sans-serif;
}
ul {
    list-style: none;
    margin-top: 0;
}

h1,h2,h3,h4,h5,h6,p,ul {
    margin: 0;
    padding: 0;
}
img {
    display: block;
}
.conteiner{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.btn {
    cursor: pointer;
    color: var(--main-color-bg);
    background-color: var(--color-accent);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;

    border-radius: 4px;
    border: none;

}