.contacts {
    display: flex;
    margin-left: auto;
    align-items: center;
    
}

.contacts__link {
    display: flex;
    align-items: center;    
    color: var(--main-color-text);
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
        color: var(--color-accent);
    }
}


.contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}
.contacts__item {
    margin-right: 50px;
    &:last-child {
        margin-right: 0;
    }
}

.contacts__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}