.folov {
    margin-left: 70px;    
}

.folov__title {    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color-bg);
}
.folov__list {
    color: var(--main-color-bg);
}
.folov__item {
    margin-top: 20px;
    width: 44px;
    height: 44px;
    display: inline-flex;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    
    margin-right: 10px;
    &:last-child {
        margin-right: 0;
    }
}

.folov__link {
    color: var(--main-color-bg);
    padding: 12px;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
        background-color: var(--color-accent); 
        border-radius: 50%;
    }
}

.folov__icon {
   fill: currentColor; 
   
}
