.footer {
    margin-left: auto;
    margin-right: auto; 

    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--bg-color-foot);
}
.footer__column {
    text-align: center;   
    max-width: 450px;
    @media screen and (min-width: 768px) {
        max-width: 768px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px) {
        max-width: 1200px;
        display: flex;
        flex-wrap: nowrap;
        text-align: left;    
    }    
}
