.footer {
    margin-left: auto;
    margin-right: auto; 

    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--bg-color-foot);
}
.footer__column {
    display: flex;   
    
}