.line {
    border-bottom: 1px solid #ECECEC;    
}
.header {    
    padding-top: 16px;
    padding-bottom: 16px;
    @media screen and (min-width: 768px) {
        padding-top: 26px;
        padding-bottom: 26px;
        
    }
    @media screen and (min-width: 1200px) {
        padding-top: 24px;
        padding-bottom: 25px;
    }
}
.page-header {
    display: flex;
    align-items: center;
}
.menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;

    &.is-open {
      display: inline-flex;
    }
    @media screen and (max-width: 767px) {
        padding: 48px 40px;
        flex-direction: column;
        justify-content: space-between;

    }
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        position: static;
        height: 0;
    }
}

.btn__burger {
    display: block;
    margin: 0;
    padding-top: 10px;
    border: none;
    background-color: transparent;
    position: absolute;
    
    top: 0;
    right: 0;
    z-index: 2;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
      display: none;
    }

    &:hover,
    &:focus {
       color: var(--color-accent); 
    }
}
.burger__icon {
    fill: currentColor;
}

.burger__cross {
    display: none;
    .btn__burger.is-open & {
      display: block;  
    }
}
.btn__burger.is-open .burger__menu {
    display: none;
    
}