.send {
    margin-left: 93px;
}
.send__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color-bg);
}
.send__btn {  
    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin-left: 12px;
    width: 200px;
    height: 50px;   
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.send__icon {
    margin-left: 10px;    
}
.send__input {
    width: 350px;
    height: 50px;
    padding-left: 16px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--bg-color-foot);
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &::placeholder {
        font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    }
    .send__label:focus-within & {
        border-color: var(--color-accent);
    }
}
