.team {
    background-color: var(--secondary-color-bg);
    text-align: center;
}
.team__list {
    display: flex;
    justify-content: space-between;
}
.teams {
    padding-top: 30px;
    padding-bottom: 30px;
}
.team__title {
    margin-bottom: 50px;

    color: var(--secondary-color-text);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}
.team__item {
    background-color: var(--main-color-bg);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}
.team__subtitle {
    margin-bottom: 10px;
    color: var(--secondary-color-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.team__text {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.meseng {
    margin-top: 16px;
    width: 44px;
    height: 44px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    color: var(--color-meseng);
    border-radius: 50%;
    margin-right: 10px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:last-child {
        margin-right: 0;
    }
    &:hover, &:focus {
        background-color: var(--color-accent);
        border-radius: 50%;
        color: var(--main-color-bg);
    }
}
.meseng__icon {
    fill: currentColor; 
}
