:root {
/* главний цвет фона */
    --main-color-bg: #ffffff;
/* главний цвет текста */
    --main-color-text: #757575;
/* фон подвала */
    --bg-color-foot:#2F303A; 
/* вторичний цвет текста */
    --secondary-color-text:#212121;
/* вторичний цвет фона */
    --secondary-color-bg: #F5F4FA;
/* еффект наведения */
    --color-accent: #2196F3;
/* цвет текста футер*/
    --color-adress: rgba(255, 255, 255, 0.6);
    --color-meseng: #AFB1B8;

}